* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

input[type="date"],
select,
input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

input[type="date"] {
    color: #555;
}

button.confirm-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button.confirm-button:hover {
    background-color: #218838;
}

.alert-message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    background-color: #4CAF50; /* Màu xanh cho thông báo thành công */
    text-align: center;
    font-weight: bold;
}

.alert-message.error {
    background-color: #f44336; /* Màu đỏ cho thông báo lỗi */
}